* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: #081426;
}

.search-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    display: grid;
}

input[type="text"] {
    display: block;
    width: calc(100% - 24px); /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
    font-size: 18px;
    font-weight: 600;
    color: grey;
    outline: 1px solid #e8e8e8;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
}

#loading-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent white background */
    justify-content: center;
    align-items: center;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    position: fixed;
    bottom: 10px;
    right: 10px; /* Adjust the right value to control the position */
    z-index: 9999; /* Add a high z-index to ensure it's on top of other content */
    border-radius: 5px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Changes image opacity based on checkbox state */
input[type="checkbox"]:checked + .shopImage {
    opacity: 1;
}
  
input[type="checkbox"]:not(:checked) + .shopImage {
    opacity: 0.5;
    filter: grayscale(100%);
}

.search-container .search_bar {
    position: relative;
    border-radius: 25px;
}

.search-container .search_bar button {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: transparent;
    font-size: 20px;
    color: grey;
    cursor: pointer;
    outline: 0;
}

.shops{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.shop-selector{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.shopImage{
    width: 50px;
    background-color: #f4f4f4;
    border-radius: 25px;
    width: 100%;
}

.shopImage.active{
    background-color: green;
    
}

.shop-selector .shops{
    grid-column: 1/10;
}

.item-container{
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    background-color: white;
}

.card-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.card-shop{
    grid-row: auto;
    text-align: end;
}

.card-image-shop{
    width: 80px;
}

.card-content{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: auto;
    align-self: flex-end;
}

.card.stacked{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-columns: auto;
}

.card.stacked.onsale {
    background-color: lightcoral;
}

.shopImage.checked{
    outline: 100px solid rgba(91, 236, 7, 0.5) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 200px;
}

.onsale-percent{
    font-size: 60px;
    color: red;
    position: absolute;
    font-weight: bold;
    padding: 10px;
}

.card-title{
    grid-row: auto;
    font-size: 20px;
}

.card-price{
    grid-row: auto;
    font-size: 18px;
    font-weight: bold;
}

